# Census aggregation race data
By: Sandhya Kambhampati

In [1]:
#load libraries
import pandas as pd

In [2]:
# load tract to neighborhood lookup
shapes = pd.read_csv("../data/output/la_tract_to_neighborhood_portions.csv",dtype={"tract": str})

In [3]:
len(shapes)

4943

In [4]:
shapes.head(1)

    tract neighborhood          area  total_tract_area  tract_percent
0  101110      Tujunga  1.229562e+07      1.229562e+07            1.0

In [5]:
# bring race data in for LA 
race = pd.read_csv("../data/input/acs5_2022_race_la_tracts.csv",dtype={"tract": str})

In [6]:
race.head(1)
# moe is margin of error

,geoid,name,tract,universe,universe_moe,white_alone,white_alone_moe,black_alone,black_alone_moe,american_indian_and_alaska_native,...,asian_alone,asian_alone_moe,native_hawaiian_and_pacific_islander,native_hawaiian_and_pacific_islander_moe,some_other_race,some_other_race_moe,two_or_more_races,two_or_more_races_moe,latino_alone,latino_alone_moe
0,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",101110,4014,473,2236,312,121,149,8,...,390,160,0,13,8,13,169,110,1082,422

In [7]:
race.universe.sum()

np.int64(9936690)

In [8]:
len(race)

2498

In [9]:
race.columns

Index(['geoid', 'name', 'tract', 'universe', 'universe_moe', 'white_alone',
       'white_alone_moe', 'black_alone', 'black_alone_moe',
       'american_indian_and_alaska_native',
       'american_indian_and_alaska_native_moe', 'asian_alone',
       'asian_alone_moe', 'native_hawaiian_and_pacific_islander',
       'native_hawaiian_and_pacific_islander_moe', 'some_other_race',
       'some_other_race_moe', 'two_or_more_races', 'two_or_more_races_moe',
       'latino_alone', 'latino_alone_moe'],
      dtype='object')

In [10]:
col = ['universe','white_alone', 'black_alone','american_indian_and_alaska_native', 'asian_alone',
       'native_hawaiian_and_pacific_islander','some_other_race','two_or_more_races',
       'latino_alone']

In [11]:
n = pd.merge(shapes,race,on="tract",how="left")

In [12]:
len(shapes)

4943

In [13]:
n.universe.sum()

np.int64(19633092)

In [14]:
n.tract.nunique()

2495

In [15]:
race.tract.nunique()

2498

In [16]:
shapes.tract.nunique()

2495

In [17]:
assert len(n) == len(shapes)
# one file (n) matches the length of the other file (shapes)

In [18]:
n.head()

,tract,neighborhood,area,total_tract_area,tract_percent,geoid,name,universe,universe_moe,white_alone,...,asian_alone,asian_alone_moe,native_hawaiian_and_pacific_islander,native_hawaiian_and_pacific_islander_moe,some_other_race,some_other_race_moe,two_or_more_races,two_or_more_races_moe,latino_alone,latino_alone_moe
0,101110,Tujunga,1.229562e+07,1.229562e+07,1.000000,14000US06037101110,"Census Tract 1011.10, Los Angeles, CA",4014,473,2236,...,390,160,0,13,8,13,169,110,1082,422
1,101122,Sunland,7.231914e+04,2.845774e+07,0.002541,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",4164,822,2882,...,582,220,0,13,12,18,250,127,362,155
2,101122,Tujunga,2.838542e+07,2.845774e+07,0.997459,14000US06037101122,"Census Tract 1011.22, Los Angeles, CA",4164,822,2882,...,582,220,0,13,12,18,250,127,362,155
3,101220,Tujunga,7.522093e+06,7.522093e+06,1.000000,14000US06037101220,"Census Tract 1012.20, Los Angeles, CA",3481,467,1485,...,433,216,0,13,5,9,49,37,1463,409
4,101221,Tujunga,3.812000e+06,3.812000e+06,1.000000,14000US06037101221,"Census Tract 1012.21, Los Angeles, CA",3756,687,1970,...,314,210,0,13,107,118,60,73,1204,375

In [19]:
def by_percent(row):
    for c in col:
        row[c] = row[c]*row["tract_percent"]
    return row

In [20]:
race_cleaned = n.apply(by_percent, axis=1)

In [21]:
race_cleaned = race_cleaned.groupby(["neighborhood"]).sum().reset_index()

In [22]:
race_cleaned[["neighborhood","universe"]]
# universe is population

        neighborhood      universe
0              Acton   3271.666094
1    Adams-Normandie  18168.841674
2       Agoura Hills  16592.950737
3         Agua Dulce   4589.923016
4           Alhambra  82210.087100
..               ...           ...
267      Willowbrook  35749.111820
268       Wilmington  54977.459862
269   Windsor Square   6219.678665
270         Winnetka  52708.663921
271   Woodland Hills  71742.403501

[272 rows x 2 columns]

In [23]:
race_cleaned.head()

,neighborhood,tract,area,total_tract_area,tract_percent,geoid,name,universe,universe_moe,white_alone,...,asian_alone,asian_alone_moe,native_hawaiian_and_pacific_islander,native_hawaiian_and_pacific_islander_moe,some_other_race,some_other_race_moe,two_or_more_races,two_or_more_races_moe,latino_alone,latino_alone_moe
0,Acton,910213910217910804910814910815,1.096713e+09,7.460476e+09,1.040016,14000US0603791021314000US0603791021714000US060...,"Census Tract 9102.13, Los Angeles, CACensus Tr...",3271.666094,2745,1936.668259,...,94.765766,428,0.000000,77,10.616965,314,104.088339,362,1106.160649,1998
1,Adams-Normandie,2214012214022215002216012216022217102218102219...,2.245187e+07,5.194088e+07,5.047070,14000US0603722140114000US0603722140214000US060...,"Census Tract 2214.01, Los Angeles, CACensus Tr...",18168.841674,5069,1808.605248,...,1620.684017,1658,64.396288,244,261.958519,404,520.358547,879,11742.013260,4460
2,Agoura Hills,800324800328800333800334800335800336800337800338,2.263534e+08,1.278166e+09,3.738362,14000US0603780032414000US0603780032814000US060...,"Census Tract 8003.24, Los Angeles, CACensus Tr...",16592.950737,4760,11521.871401,...,1288.573417,1085,21.011226,142,160.334826,460,1020.700533,1369,2311.999281,2598
3,Agua Dulce,910217910804910808910810910814910815920050,8.771285e+08,1.000310e+10,1.362519,14000US0603791021714000US0603791080414000US060...,"Census Tract 9102.17, Los Angeles, CACensus Tr...",4589.923016,3897,2736.945065,...,233.744590,690,0.000000,103,4.044070,345,180.928868,476,1287.629462,2598
4,Alhambra,2011202015012016022017004641024802014803024803...,2.125398e+08,3.769406e+08,19.991537,14000US0603720112014000US0603720150114000US060...,"Census Tract 2011.20, Los Angeles, CACensus Tr...",82210.087100,16428,7321.352073,...,41962.939038,12605,97.000534,672,162.728216,621,1634.085008,2144,28838.959201,11597

In [24]:
race_cleaned.universe.sum()

np.float64(9874682.174599797)

In [25]:
# calculate percentages for each race group         
race_cleaned["white_percent"] = race_cleaned.white_alone/race_cleaned.universe
race_cleaned["black_percent"] = race_cleaned.black_alone/race_cleaned.universe
race_cleaned["american_indian_percent"] = race_cleaned.american_indian_and_alaska_native/race_cleaned.universe
race_cleaned["asian_percent"] = race_cleaned.asian_alone/race_cleaned.universe
race_cleaned["native_hawaiian_percent"] = race_cleaned.native_hawaiian_and_pacific_islander/race_cleaned.universe
race_cleaned["other_percent"] = race_cleaned.some_other_race/race_cleaned.universe
race_cleaned["two_or_more_races_percent"] = race_cleaned.two_or_more_races/race_cleaned.universe
race_cleaned["latino_percent"] = race_cleaned.latino_alone/race_cleaned.universe
race_cleaned["non_latino_percent"]= 1-race_cleaned.latino_percent

In [26]:
race_cleaned["nonwhite_percent"]=(1-race_cleaned.white_percent)

In [27]:
# this checks if the race is part of the majority

race_cleaned["majority_nonwhite"] = race_cleaned.nonwhite_percent > 0.5
race_cleaned["majority_white"] = race_cleaned.white_percent  > 0.5
race_cleaned["majority_black"]= race_cleaned.black_percent > 0.5
race_cleaned["majority_asian"]= race_cleaned.asian_percent > 0.5
race_cleaned["majority_latino"] = race_cleaned.latino_percent > 0.5

In [28]:
# add in diversity index from https://www.usatoday.com/story/news/nation/2014/10/21/diversity-index-data-how-we-did-report/17432103/ 
# and https://github.com/censusreporter/nicar16-diversity-index/blob/master/Walkthrough.ipynb

race_cleaned["diversity_index"]= 1-( 
              (race_cleaned.white_percent**2 + race_cleaned.black_percent**2 + race_cleaned.american_indian_percent**2 + race_cleaned.asian_percent**2 + race_cleaned.native_hawaiian_percent**2 ) * 
              (race_cleaned.latino_percent**2 + race_cleaned.non_latino_percent**2)
           )

In [29]:
len(race_cleaned)

272

In [30]:
list(race_cleaned)

# if moe is high, rethink if we should be using these variables

['neighborhood',
 'tract',
 'area',
 'total_tract_area',
 'tract_percent',
 'geoid',
 'name',
 'universe',
 'universe_moe',
 'white_alone',
 'white_alone_moe',
 'black_alone',
 'black_alone_moe',
 'american_indian_and_alaska_native',
 'american_indian_and_alaska_native_moe',
 'asian_alone',
 'asian_alone_moe',
 'native_hawaiian_and_pacific_islander',
 'native_hawaiian_and_pacific_islander_moe',
 'some_other_race',
 'some_other_race_moe',
 'two_or_more_races',
 'two_or_more_races_moe',
 'latino_alone',
 'latino_alone_moe',
 'white_percent',
 'black_percent',
 'american_indian_percent',
 'asian_percent',
 'native_hawaiian_percent',
 'other_percent',
 'two_or_more_races_percent',
 'latino_percent',
 'non_latino_percent',
 'nonwhite_percent',
 'majority_nonwhite',
 'majority_white',
 'majority_black',
 'majority_asian',
 'majority_latino',
 'diversity_index']

In [31]:
# cut the df 
race_neighborhoods = race_cleaned[[
"neighborhood",
"universe",                           
'white_alone',
'black_alone',
'american_indian_and_alaska_native', 
'asian_alone',
'native_hawaiian_and_pacific_islander',
'some_other_race',
'two_or_more_races',
'latino_alone',
'white_percent',
'black_percent',
'american_indian_percent',
'asian_percent',
'native_hawaiian_percent',
'other_percent',
'two_or_more_races_percent',
'latino_percent',
'nonwhite_percent',
'majority_nonwhite',
'majority_white',
'majority_black',
'majority_asian',
'majority_latino',
'non_latino_percent',
'diversity_index']]

In [32]:
race_neighborhoods.rename(columns={"universe": "total_population"},inplace=True)

/var/folders/4f/fk_hbgy14cg47tw521m3y0xw0000gn/T/ipykernel_33731/2812149084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  race_neighborhoods.rename(columns={"universe": "total_population"},inplace=True)

In [33]:
race_neighborhoods.to_csv("../data/output/race_neighborhoods.csv", index=False)

## Get top neighborhoods

In [34]:
len(race_neighborhoods)

272

In [35]:
race_neighborhoods.columns

Index(['neighborhood', 'total_population', 'white_alone', 'black_alone',
       'american_indian_and_alaska_native', 'asian_alone',
       'native_hawaiian_and_pacific_islander', 'some_other_race',
       'two_or_more_races', 'latino_alone', 'white_percent', 'black_percent',
       'american_indian_percent', 'asian_percent', 'native_hawaiian_percent',
       'other_percent', 'two_or_more_races_percent', 'latino_percent',
       'nonwhite_percent', 'majority_nonwhite', 'majority_white',
       'majority_black', 'majority_asian', 'majority_latino',
       'non_latino_percent', 'diversity_index'],
      dtype='object')

### Plurality Black neighborhoods

(Plurality is when a neighborhood does not have an absolute majority race.)

In [36]:
race_neighborhoods.loc[
    (race_neighborhoods["black_percent"] > race_neighborhoods["white_percent"]) & 
    (race_neighborhoods["black_percent"] > race_neighborhoods["latino_percent"]) &
    (race_neighborhoods["black_percent"] > race_neighborhoods["asian_percent"])
]

,neighborhood,total_population,white_alone,black_alone,american_indian_and_alaska_native,asian_alone,native_hawaiian_and_pacific_islander,some_other_race,two_or_more_races,latino_alone,...,two_or_more_races_percent,latino_percent,nonwhite_percent,majority_nonwhite,majority_white,majority_black,majority_asian,majority_latino,non_latino_percent,diversity_index
12,Athens,9950.445938,183.979684,5454.441475,44.999998,192.965870,40.999955,22.126710,203.971149,3806.961097,...,0.020499,0.382592,0.981510,True,False,True,False,False,0.617408,0.841078
17,Baldwin Hills/Crenshaw,33523.653022,2759.158072,17407.912381,40.107313,1523.961052,10.042896,97.675273,1002.654745,10682.141290,...,0.029909,0.318645,0.917695,True,False,True,False,False,0.681355,0.842438
85,Gramercy Park,10589.371947,247.326293,5990.542382,0.000003,22.000192,17.608381,126.193402,880.311721,3305.389573,...,0.083132,0.312142,0.976644,True,False,True,False,False,0.687858,0.817081
108,Hyde Park,36090.210382,1927.044233,19981.463023,13.196772,676.194023,101.140508,334.309090,1455.763149,11601.099585,...,0.040337,0.321447,0.946605,True,False,True,False,False,0.678553,0.825379
120,Ladera Heights,6670.475962,978.179785,4222.777504,82.486823,265.792457,0.024510,0.041853,581.517049,539.655983,...,0.087178,0.080902,0.853357,True,False,True,False,False,0.919098,0.639052
129,Leimert Park,12752.471439,785.857019,7839.521058,14.893178,290.685893,4.965628,94.698459,302.860456,3418.989749,...,0.023749,0.268104,0.938376,True,False,True,False,False,0.731896,0.767775
140,Manchester Square,12589.072470,367.554492,7520.952555,15.356332,45.874408,0.391619,51.806606,485.916434,4101.220024,...,0.038598,0.325776,0.970804,True,False,True,False,False,0.674224,0.799392
245,View Park-Windsor Hills,11998.996777,1140.999409,8745.994786,89.999849,439.999718,17.999987,86.000038,565.000241,913.002749,...,0.047087,0.076090,0.904909,True,False,True,False,False,0.923910,0.534436

In [37]:
race_neighborhoods.loc[
    (race_neighborhoods["black_percent"] > race_neighborhoods["white_percent"]) & 
    (race_neighborhoods["black_percent"] > race_neighborhoods["latino_percent"]) &
    (race_neighborhoods["black_percent"] > race_neighborhoods["asian_percent"])
]["neighborhood"].tolist()

['Athens',
 'Baldwin Hills/Crenshaw',
 'Gramercy Park',
 'Hyde Park',
 'Ladera Heights',
 'Leimert Park',
 'Manchester Square',
 'View Park-Windsor Hills']

### Majority Latino neighborhoods

In [38]:
len(race_neighborhoods.loc[race_neighborhoods["majority_latino"] == True])

107

In [39]:
race_neighborhoods.loc[race_neighborhoods["majority_latino"] == True]["neighborhood"].tolist()

['Adams-Normandie',
 'Alondra Park',
 'Arleta',
 'Arlington Heights',
 'Avalon',
 'Avocado Heights',
 'Azusa',
 'Baldwin Park',
 'Bell',
 'Bell Gardens',
 'Bellflower',
 'Boyle Heights',
 'Broadway-Manchester',
 'Canoga Park',
 'Central-Alameda',
 'Charter Oak',
 'Chesterfield Square',
 'Citrus',
 'Commerce',
 'Compton',
 'Covina',
 'Cudahy',
 'Cypress Park',
 'Desert View Highlands',
 'Downey',
 'Duarte',
 'East Compton',
 'East Hollywood',
 'East La Mirada',
 'East Los Angeles',
 'El Monte',
 'El Sereno',
 'Exposition Park',
 'Florence',
 'Florence-Firestone',
 'Glassell Park',
 'Green Meadows',
 'Hansen Dam',
 'Harbor Gateway',
 'Harvard Heights',
 'Harvard Park',
 'Hawaiian Gardens',
 'Hawthorne',
 'Highland Park',
 'Historic South-Central',
 'Huntington Park',
 'Industry',
 'Inglewood',
 'Irwindale',
 'Jefferson Park',
 'La Puente',
 'Lake Los Angeles',
 'Lake View Terrace',
 'Lawndale',
 'Lennox',
 'Lincoln Heights',
 'Littlerock',
 'Lynwood',
 'Mayflower Village',
 'Maywood',
 'Mission Hills',
 'Montebello',
 'North Hills',
 'North Whittier',
 'Northeast Antelope Valley',
 'Norwalk',
 'Pacoima',
 'Palmdale',
 'Panorama City',
 'Paramount',
 'Pico Rivera',
 'Pico-Union',
 'Pomona',
 'Rancho Dominguez',
 'Reseda',
 'San Fernando',
 'San Pedro',
 'Santa Fe Springs',
 'South El Monte',
 'South Gate',
 'South Park',
 'South San Jose Hills',
 'South Whittier',
 'Sun Valley',
 'Sun Village',
 'Sylmar',
 'Val Verde',
 'Valinda',
 'Van Nuys',
 'Vermont Knolls',
 'Vermont Square',
 'Vermont Vista',
 'Vermont-Slauson',
 'Vernon',
 'Vincent',
 'Walnut Park',
 'Watts',
 'West Adams',
 'West Covina',
 'West Puente Valley',
 'West Whittier-Los Nietos',
 'Westlake',
 'Westmont',
 'Whittier',
 'Whittier Narrows',
 'Willowbrook',
 'Wilmington']

### Majority white neighborhoods

In [40]:
len(race_neighborhoods.loc[race_neighborhoods["majority_white"] == True])

70

In [41]:
race_neighborhoods.loc[race_neighborhoods["majority_white"] == True]["neighborhood"].tolist()

['Acton',
 'Agoura Hills',
 'Agua Dulce',
 'Angeles Crest',
 'Bel-Air',
 'Beverly Crest',
 'Beverly Grove',
 'Beverly Hills',
 'Beverlywood',
 'Bradbury',
 'Brentwood',
 'Burbank',
 'Calabasas',
 'Carthay',
 'Century City',
 'Cheviot Hills',
 'El Segundo',
 'Elizabeth Lake',
 'Encino',
 'Fairfax',
 'Glendale',
 'Green Valley',
 'Griffith Park',
 'Hancock Park',
 'Hermosa Beach',
 'Hidden Hills',
 'Hollywood Hills',
 'Hollywood Hills West',
 'La Cañada Flintridge',
 'Leona Valley',
 'Los Feliz',
 'Malibu',
 'Manhattan Beach',
 'Mar Vista',
 'Marina del Rey',
 'Northwest Antelope Valley',
 'Northwest Palmdale',
 'Pacific Palisades',
 'Palos Verdes Estates',
 'Pico-Robertson',
 'Playa Vista',
 'Playa del Rey',
 'Redondo Beach',
 'Rolling Hills',
 'Rolling Hills Estates',
 'Santa Monica',
 'Sawtelle',
 'Sepulveda Basin',
 'Shadow Hills',
 'Sherman Oaks',
 'Sierra Madre',
 'Silver Lake',
 'Studio City',
 'Sunland',
 'Tarzana',
 'Toluca Lake',
 'Topanga',
 'Tujunga',
 'Tujunga Canyons',
 'Unincorporated Santa Monica Mountains',
 'Universal City',
 'Valley Village',
 'Venice',
 'Veterans Administration',
 'West Hills',
 'West Hollywood',
 'West Los Angeles',
 'Westlake Village',
 'Westwood',
 'Woodland Hills']